name: EKS setup via Pipeline

on:  
  # Allow manual trigger
  workflow_dispatch:
  
  # Run on push to main branch (optional)
  # push:
  #   branches:
  #     - main
permissions:
  id-token: write
  contents: write

jobs:
  backup:
    runs-on: ubuntu-latest
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::000087384605:role/githubworkflowrole
          role-session-name: "samplerolesession"
          aws-region: us-east-1

      
      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --name eksdemo1 \
            --region us-east-1
      
      - name: Install kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'
      
      - name: Install Helm (optional)
        uses: azure/setup-helm@v3
        with:
          version: 'latest'
      
      - name: Run setup script
        run: | 
            kubectl create namespace argocd
            kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
      - name: Wait for ArgoCD server to be ready
        run: |
            kubectl wait --for=condition=available --timeout=600s deployment/argocd-server -n argocd

      - name: Get initial admin password
        run: |
            kubectl -n argocd get secret argocd-initial-admin-secret -o jsonpath="{.data.password}" | base64 -d; echo
      
      - name: deploy application to argocd
        run: |
            kubectl apply -f default.yml -n argocd
            kubectl apply -f monitoring.yml -n argocd